<div class="row">
  <h3 class="col-12 text-center">Ball Clock</h3>
  <div class="col-12 row mt-5 text-center">
    <h6 class="col-12" *ngIf="startTime">Start Time: {{ startTime | date:"hh:mm" }}</h6>
    <h6 class="col-12" *ngIf="endTime">Finish Time: {{ endTime | date:"hh:mm" }}</h6>
  </div>
  <div class="col-12 mt-5 row justify-content-center">
    <div class="col-12 text-center">
      <label for="ballCount" class="col-6">Ball Count</label>
    </div>
    <div class="col-12 text-center">
      <input   
        class="col-1 text-center input-box"      
        type="text"
        name="ballCount"
        [(ngModel)]="ballCount"
        (ngModelChange)="reset()"
      >
    </div>  
    <div class="col-12 text-center">
      <div class="col-2 btn btn-primary mt-2" (click)="setBallCount()">Calculate</div>
    </div>  
  </div>
  <div *ngIf="showCalculation" class="col-12 row mt-5">
    <div class="col-6 text-center">
      {{ ballCount }} balls takes {{ daysToCompletion }} days
    </div>
    <div class="col-6 text-center">
      Duration of Computation: {{ computationDuration }}
    </div>
  </div>
</div>